[submodule "submodules/fpga"]
	path = submodules/fpga
	url = https://github.com/ZcashFoundation/zcash-fpga.git
[submodule "submodules/aws-fpga"]
	path = submodules/aws-fpga
	url = https://github.com/aws/aws-fpga.git
